@model Car_Web.Models.Car
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

    body {
        margin: 0px;
        padding: 0px;
        background: #f1f1f1;
        font-family: Arial;
        box-sizing: border-box;
    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        padding-top: 10px;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
    }

    .card-contianer {
        width: 45%;
        height: 60%;
        background: #FFF;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 10px 1px #000;
        overflow: hidden;
        display: inline-block;
    }

    .upper-container {
        height: 20%;
    }

    .lower-container {
        height: 80%;
        /*        background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(2,29,103,0.6138830532212884) 71%);*/
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(2,29,103,0.6138830532212884) 71%, rgba(0,30,112,1) 99%);
    }

    #btn-Car, #btn-Add-Car  {
        margin-left: 20%;
        margin-bottom: 3%;
    }
    #new-car-body {
        background: rgb(255,255,255);
        background: -moz-linear-gradient(180deg, rgba(255,255,255,0.1516981792717087) 0%, rgba(9,9,121,0.19931722689075626) 98%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.1516981792717087) 0%, rgba(9,9,121,0.19931722689075626) 98%);
        background: linear-gradient(180deg, rgba(255,255,255,0.1516981792717087) 0%, rgba(9,9,121,0.19931722689075626) 98%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#090979",GradientType=1);
    }
</style>

@{
    ViewBag.Title = "Cars";
}



<h2>Cars</h2>
<body>
    <div class="card-contianer">
        <div class="upper-container">
            <h2>Cars</h2>
        </div>
        <div class="lower-container">
            <button type="button" class="btn btn-danger btn-lg" id="btn-Car">Show all cars!!</button>
            <a href="#" class="btn btn-info btn-lg" id="btn-Add-Car" onclick="AddNewCar(0)">Add New Car</a>  
            <table class="table table-striped" id="car-table">
                <thead>

                </thead>
                <tbody>
                </tbody>
            </table>
            <p id="p-link">
                @Html.ActionLink("Edit", "Edit") |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>

    </div>

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="new-car-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h2 id="ModalTitle"></h2>
                </div>
                <div class="modal-body" id="new-car-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.Id_Car, new { @id = "IdCar" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Make, new { @id = "CarMake", @class = "form-group", @placeholder = "Make" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Model, new { @id = "CarModel", @class = "form-group", @placeholder = "Model" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Fuel, new { @id = "CarFuel", @class = "form-group", @placeholder = "Fuel" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Power, new { @id = "CarPower", @class = "form-group", @placeholder = "Power" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Quantity, new { @id = "CarQuantity", @class = "form-group", @placeholder = "Quantity" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Production_Year, new { @id = "CarProductionYear", @class = "form-group", @placeholder = "Production Year" })
                            </div>
                            <div class="form-greoup">
                                <a href="#" class="btn btn-block btn-danger" id="SaveCarRecord">Save</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#btn-Car").click(function () {
                var zapis = $("#txt-Car").val();
                $.ajax({
                    type: "GET",
                    url: 'https://localhost:44352/api/cars/GetAllCars',
                    data: { keyword: zapis },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        $("#car-table thead").empty();
                        $("#car-table thead").append('<tr> <th>Car Id</th> <th>Make</th> <th>Model</th> <th>Fuel</th> <th>Power</th> <th>Production Year</th> <th>Quantity</th> <th>Select</th> </tr>')
                        console.log(msg);
                        $("#car-table tbody").empty();
                        for (var i = 0; i < msg.length; i++) {
                            $("#car-table tbody").append('<tr> <td>' + msg[i].Id_Car + '</td> <td>' + msg[i].Make + '</td> <td>' + msg[i].Model + '</td> <td>' + msg[i].Fuel + '</td> <td>' + msg[i].Power + '</td> <td>' + msg[i].ProductionYear + '</td> <td>' + msg[i].Quantity + '</td> <td><button type="button" class="btn btn-warning" onclick="EditCarRecord('+ msg[i].Id_Car +')">Select Car</button></td> </tr>');
                        }
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });

        function AddNewCar(Carid) {
            $("#form")[0].reset();
            $("#ModalTitle").html("Add NEW Car");
            $("#MyModal").modal();
        };

        function EditCarRecord(Selectedid) {
            $("#form")[0].reset();
            $("#ModalTitle").html("Edit selected Car: "+ Selectedid +" ");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: 'https://localhost:44352/api/cars/GetSelectedCar',
                data: { selectedId: Selectedid },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (car) {
                    console.log(car);
                    for (var i = 0; i < car.length; i++) {
                        $("#IdCar").val(car[i].Id_Car);
                        $("#CarMake").val(car[i].Make);
                        $("#CarModel").val(car[i].Model);
                        $("#CarFuel").val(car[i].Fuel);
                        $("#CarPower").val(car[i].Power);
                        $("#CarQuantity").val(car[i].Quantity);
                        $("#CarProductionYear").val(car[i].ProductionYear);
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });

        };
    </script>
}